    
    @import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
      display: flex;  
      align-items: center;
      justify-content: center;
      min-height: 40rem;
      background: azure;
      
     
    }

   form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(245, 147, 224), rgb(197, 94, 197));
    text-align: center;
    padding: 1.3rem 1.6rem;
    box-shadow: 0 1rem 1rem #0a0a0a;
    
   }
   form .title {
    color:#6e12c4;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.9rem;
   }

   form label {
    margin-bottom: 1.8rem;
   }

   form label .fa-solid {
    font-size: 1.25rem;
    color: #6e12c4;
    margin-right: 0.6rem;
   }

   form label input {
    border-radius: 5px;
    border: none;
    height: 1.5rem;
    color: black;
    border-bottom: solid 1px blueviolet;
    padding: 0 0.3rem;
    font-size: 0.9rem;

   }
   form label input ::placeholder {
    color: black;
   }
   form .link {
    color: #281e41;
    margin-bottom: 1rem;

   }

   form button {
    color: azure;
    font-weight: 700;
    font-size: 1rem;
    border: blueviolet;
    border-radius: 0.5rem;
    background: #6e12c4;
    padding: 0.6rem 0.9rem;
    margin-right: 3rem;
    margin-left: 3rem;
    cursor: pointer;

   }


















