    
    @import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Macondo Swash Caps', cursive; 
    }
    :root {
      --blue : #400FCB;
      --purple: #540A81;
      --purple-light: #d08ff8;
      --white : azure;
      --black: #000000;
      --grey: #e1dbe7;
      --blueviolet :blueviolet ;
  
    }
    body {
      
      display: grid;
      grid-template-columns: 25% 50% 25%;
    }

    .container {
      display: flex;    
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 40rem;
      background: var(--white);
      background-image: url(/img/pexels-pixabay-53470_gotas1.jpg);
      background-repeat: repeat;
      background-position: center;
      background-size: cover;
      
     
    }
    .title_main {
      text-align: center;
      color: var(--blue);
      font-size: 1.3rem;
      background-color:var(--grey);
      margin-left: 3rem;
      margin-right: 3rem;
      border-radius: 1rem;
      margin-bottom: 5rem;
  } 
  
    form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(245, 147, 224), rgb(197, 94, 197));
    text-align: center;
    padding: 1.3rem 1.6rem;
    box-shadow: 0 1rem 1rem var(--black);
    border-radius: 10%;
    min-width: 4rem;
    
    
   }
   form .title {
    color: var(--purple);
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.9rem;
   }

   form label {
    margin-bottom: 1.8rem;
   }

   form label .fa-solid {
    font-size: 1.25rem;
    color: var(--purple);
    margin-right: 0.6rem;
   }

   form label input {
    border-radius: 5px;
    border: none;
    height: 1.5rem;
    color: var(--black);
    border-bottom: solid 1px var(--blueviolet);
    padding: 0 0.3rem;
    font-size: 0.9rem;

   }
   form label input ::placeholder {
    color: var(--black);
   }
   form .link {
    color: var(--purple);
    margin-bottom: 1rem;
    font-weight: 700;

   }

   form button {
    color: azure;
    font-weight: 700;
    font-size: 1rem;
    border: var(--blueviolet);
    border-radius: 0.5rem;
    background: var(--purple);
    padding: 0.6rem 0.9rem;
    margin-right: 3rem;
    margin-left: 3rem;
    cursor: pointer;

   }
   aside .top {
    background-image: url('/img/excursionista-cima.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 120%;
    height: 101%;
    flex-grow: 1;
    box-sizing: border-box;
    display: block;

   
}
aside .citation {
    background-image: url('/img/ladrillos-juguete-sobre-mesa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 110%;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    display: block;
    
    
}
@media (max-width: 900px) {
  aside {
    display: none;
}
.container {
  width: 26.25rem;
  height: 46.25rem;
  padding-right: 2.8rem;
  padding-left: 0px;
  margin-right: 0px;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

}


















