:root {
    --white: azure; 
    --blue: #1E25D0;
    --grey: #7FBADA;
    --black: black;
    --purple: #540A81;
}
body {
    background-image: url(/src/img/gotas-agua-sobre-vidrio.jpg);
    height: 100vh;
    background-size: cover;
    font-family: 'Macondo Swash Caps', cursive;
    
}
.profile h1 {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.2rem;
    font-style: italic;   
}
.slogan {
    color: var(--purple);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.8rem;
    
}
#date {
    color: var(--purple);
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
}
